@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Home Page of website for the joke creation,read and insert your own jokes.</p>
</div>
