@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Jokes Applicatiom</h1>
    <p>Formost authority To View Joke On The Web app with ASP.NET Core</a>.</p>
</div>
