@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome On Jokes App Version 2.... </h1>
    <p> App To Create , Update , Delete and view the Question answer of jokes. </p>
</div>
